@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Nossa polícia de privacidade é assim, aassim e assado!.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque eos labore excepturi vel suscipit cumque eligendi molestias corrupti exercitationem molestiae blanditiis ea illo, est aliquam repellat. Quibusdam alias nostrum quis..</p>
