<h1>Página Quem Somos</h1>

<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad sunt corrupti repellat iste ut fugit unde? Cum, esse deleniti voluptas eveniet, impedit iste praesentium omnis necessitatibus exercitationem ea aliquid nostrum!</p>

<a asp-controller="Home" asp-action="Index">Voltar para Home"></a>